<!DOCTYPE html>
<html lang="pt-br" ng-app="aplicacaoRun">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../styles/estilos.globais.css">
    <link rel="stylesheet" href="tela-cadastro-usuarios.css">
    <!--Chamando Angularjs:-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="../controllers/jquery.mask.js"></script>
    <script src="../../scripts/controllers/main.js"></script>
    <script src="tela-cadastro-usuarios.js"></script>
    <!--Chamando o Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Cadastre as informações</title>
</head>
<body ng-controller="controleUsuarios">
    <header>
        <div id=tituloHeader>
            <h3>Só Vamu Tech!</h3>
        </div>
    </header>
    <main>
        <form id="FormeCadastro"  name="customerForm" >
            <div class="row">
            <div class="col col-sm-3">
            <label id="labelNome" class="labelNome" for="inputNome">Nome</label>
            <input id="inputNome" ng-model="data.nome" ng-pattern="/^[a-zA-ZáéíóúÁÉÍÓÚ\s]*$/" ng-minlength="3" name="inputNome" type="text" required>
            </div>
            
            
            <div class="col">
                <label id="labelIdade" class="labelIdade " for="inputIdade">Idade</label>
                <input  id="inputIdade"  ng-pattern="/^\d+$/" ng-model="data.idade" name="inputIdade" type="text" required>
            
            </div>
            </div>

            <div class="row">
            <div class="col col-sm-3">
            <label  id="labelProfissao" class="labelProfissao" for="selectProfissao">Profissao</label>
            <select ng-options="listagemdepessoas for listagemdepessoas in definindoProfiss" id="selectProfissao" ng-model="data.profissao" required>
            </select>
            </div>

            <div class="col">
            <label id="labelNascimento" class="labelNascimento">Cidade de Nascimento</label>
            <select ng-options="listagemdecidades for listagemdecidades in megaCity" ng-model="data.nascimento" required>
            </select>
             </div>  
            </div>

            <div class="row">
            <div class="col col-sm-3">
            <label  id="labelPeso" class="labelPeso" for="inputPeso">Peso</label>
            <input id="inputPeso" ng-model="data.peso" name="inputPeso" type="text" required>
            </div>
            <div class="col">
            <label  id="labelAniversario" class="labelAniversario" for="selectDataAniversario">Aniversário</label>
            <input id="selectDataAniversario" ng-model="data.aniversario" type="date" required>
            </div>
            </div>
            
            <div id="footerCadastro">
            <button class="btn" id="botaoCadastroSalvar" type="button" ng-click="enviodedados()" ng-disabled="customerForm.$invalid" id="botaoCadastrosalvar"
                onclick="location.href=document.referrer">Salvar</button>
            <button class="btn" id="botaoCadastroVoltar" onclick="location.href=document.referrer">Voltar</button>
            </div>
        </form>
    </main>
</body>
</html>