 *{
    margin: 0;
    padding: 0;
 }

#tituloHeader{
    background: #8B008B;
    color: #FFFAFA;
    padding: 8px;
    height: 60px ;
    margin-bottom: 5%;
    text-align: center;
  
  }

/* .labelNome{

}
 #inputNome{
  margin-left: 0%;
  
  padding: 1px 1px;
 
  height: auto;
 
    
 }

 .labelIdade {
  margin-left: 20%;
  padding: 1px 1px;
 
  height: auto;
 
}

.labelProfissao{
    display: block;
 
}
.labelNascimento{
  margin-left: 20%;
  padding: 1px 1px;
 
  height: auto;
}

.labelPeso{
  display: block;
}
 */

#labelNome, #labelIdade, #labelProfissao, #labelNascimento, #labelPeso, #labelAniversario{
  display: block;
}

#FormeCadastro{
  margin: 10%;
}

